[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesboot"]
	path = bayesboot
	url = https://github.com/rasmusab/bayesboot
[submodule "beepr"]
	path = beepr
	url = https://github.com/rasmusab/beepr
